# Tasks

These are my solutions to the Tasks assesment. The author is Neil Byrne - G00343624
***

We can calculate the square root of a number by using Neton's method [1].
To find the square root $z$ of a number $x$, we can iterate using the following equation.

$$ z = z - z \frac{z^2 - x} {2z} $$


[1] A Tour of Go; Excercise: Loops and Functions; https://tour.golang.org/flowcontrol/8

[2] Newton's method; https://en.wikipedia.org/wiki/Newton%27s_method

In [ ]:
def sqrt(x):
    "A function to calculate the square root of a number x"
    
    # Initial guess for the square root of z.
    z = x / 2
    # Loop until we're happy with the accuracy.
    while abs(x - (z * z)) > 0.00001:
        #Caclucate a better guess for the square root.
        z-= (z*z - x) / (2 * z)
    # Return the (approximate) square root of x.
    return z

  ##### Tests of the function
  Here we test the function with some known values.

In [14]:
# Test the function of 100
sqrt(100)

10.000000000107446

In [15]:
# Test the function on 2.
sqrt(2)

1.4142156862745099

In [16]:
import math
math.sqrt(2)

1.4142135623730951

  ##### Chi-Square Test
  Here we test the function with some known values.

This test is used when you are dealing with categoircal values rather
than numerical. It is used to determine whether or not there is a
correlelation between the associated values.

In [84]:
import scipy.stats as stats

In [85]:
import seaborn as sns
import pandas as pd
import numpy as np

In [107]:
# importing pandas as pd 
import pandas as pd 
  
# dictionary of lists 
dataset = {'Collar':["White", "Blue", "No", "Total"], 
        'A': [90, 30, 40, 150],
        'B': [60, 50, 40, 150], 
        'C': [104, 51, 45, 200],
        'D': [95, 20, 35, 150],
        'Total':[349, 151, 150, 650]} 
  
df = pd.DataFrame(dataset) 

df.head()

  Collar    A    B    C    D  Total
0  White   90   60  104   95    349
1   Blue   30   50   51   20    151
2     No   40   40   45   35    150
3  Total  150  150  200  150    650

In [111]:
table=pd.crosstab(df['A'],df['B'])
print(table)

B    40   50   60   150
A
30     0    1    0    0
40     1    0    0    0
90     0    0    1    0
150    0    0    0    1

In [112]:
colsum =table.sum(axis=0)
colpct = table/colsum
print(colpct)

B    40   50   60   150
A
30   0.0  1.0  0.0  0.0
40   1.0  0.0  0.0  0.0
90   0.0  0.0  1.0  0.0
150  0.0  0.0  0.0  1.0

In [118]:
print('chi-squre value, p value, expected counts')
cs1 = stats.chi2_contingency(table)
print(cs1)

chi-squre value, p value, expected counts
(12.0, 0.21330930508341653, 9, array([[0.25, 0.25, 0.25, 0.25],
       [0.25, 0.25, 0.25, 0.25],
       [0.25, 0.25, 0.25, 0.25],
       [0.25, 0.25, 0.25, 0.25]]))